*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app{
  width: 100%;
  min-height: 100vh;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  display: block;
  cursor: pointer;
}
.container{
  margin: auto;
  width: 100%;
  max-width: 540px;
}
.container .selected{
  width: 500px;
  height: 360px;
  margin: 0 auto;
}
.imgContainer{
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  column-gap: 20px;

}
.app .imgContainer img{
  width: 100px;
  height: 100px;
  margin: 5px 0;
}