* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 98, 185);
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 50px;
  padding: 10px;
  background-color: rgb(8, 60, 120);
  height: 520px;
  width: 550px;
  color: aliceblue;
  gap: 5px;
  border-radius: 6px;
}

.soz h2 {
  background-color: rgb(3, 149, 152);
  margin-top: 20px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px 4px 0 0;
}

.soz p {
  display: flex;
  justify-content: center;
  background-color: rgb(254, 144, 0);
  padding: 20px 20px;
  font-size: 18px;
  border-radius: 0 0 4px 4px;
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.btn button {
  padding: 10px;
  font-family: "Poppins";
  cursor: pointer;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 460px;
  }
}